<template>
<div class="barstyle">
  <Bar 
      :chart-data="chartData"
      :chart-options="chartOptions"
      :dataset-id-key="datasetIdKey"
      :css-classes="cssClasses"
      />
</div>
</template>

<script>
// DataPage.vue
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
  name: 'BarChart',
  props: ['data'],
  data () {
        return {
            chartData: {
                labels: this.data.keys ,//  [ 'January', 'February', 'March', "April"],
                datasets: [ {
                    backgroundColor: 'lightblue',
                    label: "Completed",
                    data: this.data.values // [40, 20, 12, 100]
                    }
                 ],
            },
            chartOptions: {
              responsive: true,
              maintainAspectRatio: false
            },
            datasetIdKey: "Hi",
            cssClasses: "background-color: red;"
    }
  },
  components: { Bar },
}
</script>

<style>

.barstyle{
    background-color: white;
    justify-content: center;
}

</style>
