<style>

.cardview {
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 240px;
}

.cardview p{
    justify-content: center;
    min-width: 100px;
    max-width: 240px;
    margin-left: 10px;
    margin-right: 10px;
}

.crossed_deadline {
    border: 5px outset red;
    background-color: pink;
}

.completed {
    border: 5px outset green;
    background-color: lightgreen;
}

.pending {
    border: 5px outset blue;
    background-color: lightblue;
}

</style>

<template>
<div>
<div class="cardview">
          <div :class="status(c)">
            <div v-if="edit">
                <p>Name: <input size="15" type="text" v-model="name" placeholder="Enter card name" /></p>
                <p>Description: <input type="text" v-model="description" placeholder="Enter card description" size="15"/></p>


              List: <select v-model="list_id"  >
                    <option v-for="l in kanban['lists']" v-bind:key="l.id" :value="l.id">
                        {{l.name}}
                    </option>
                </select> #{{list_id}}
        
            Completed: <input type="checkbox" v-model="completed">
            Deadline: <date-picker :date="startTime" ></date-picker>


                <button v-on:click="edit=false;">Cancel</button>&emsp;
                
            <button v-on:click="edit=false;UpdateAll(
                updateCard(
                    c.id, name, description, list_id, (completed ? '1':'0'), startTime.time, kanban.updated
                )
            );" >Update</button>
                
            </div>
            
            <div v-else>
              <p><b>{{c.name}}</b></p>
              <p><i>{{c.description}}</i></p>
              <p><u>deadline:</u> {{c.deadline}}</p>
              <p><u>completed:</u>  {{c.completed=="0" ? "No" : "Yes"}}</p>
              <p>
                  <u>List:</u> <router-link :to="{path: '/list/' + l.id }" >
                  {{l.name}}
                  </router-link>
              </p>
              <p><button v-on:click="
                  edit=!edit;
                  name=c.name;
                  description=c.description;
                  startTime.time=c.deadline;
                  list_id=c.list_id;
                  completed=(c.completed!='0');
              ">Edit</button>
              <button v-on:click="deleteOp=!deleteOp" >Delete</button>
              </p>
              <div v-if="deleteOp">
                 <p>Are you sure?</p>
                 <button v-on:click="deleteOp=!deleteOp">No</button>
                 <button v-on:click="UpdateAll(deleteCard(c.id, kanban.updated))">Yes</button>
              </div>
          </div>
          </div>
      </div>
</div>
</template>

<script>
import {store} from "../store/store.js";
import {UpdateData} from '../mixins/getData.js'
import myDatepicker from 'vue-datepicker';

export default {
    data () {
        return {
            startTime: {
                time: ""
            },
            deleteOp: false,
            edit: false,
            name: "",
            description: "",
            list_id: "",
            completed: "",
            kanban: store.kanban,
            };
    },
    name: 'CardLayout',
    props: ['c', 'l'],
    mixins: [UpdateData],
    components: {
        'date-picker': myDatepicker
    },
    methods: {
        status: function(card) {
            let today = new Date();
            let d1 = new Date(card.deadline+" 23:59:59");
            if (card.completed != "0" ) {
                return "completed";
            } else if (d1 < today ) {
                return "crossed_deadline";
            }
            return "pending";
        }
    }
}
</script>
