<style>

.small {
    border: 5px outset lightgreen;
    background-color: lightyellow;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 150px;
    max-width: 200px;
}

.small p{
    justify-content: center;
    min-width: 100px;
    max-width: 250px;
    margin-left: 10%;
    margin-right: 10%;
}

.big {
    border: 5px outset lightgreen;
    //padding: 100px;
    background-color: lightyellow;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

}
.big p{
    margin-left: 25%;
    margin-right: 25%;
}


</style>

<template>
<div>
    <div :class="listsize">
          <div v-if="edit">
      <p>Name: <input size="15" type="text" v-model="name" placeholder="Enter list name" /></p>
      <p>Description: <input type="text" v-model="description" placeholder="Enter list description" size="15"/></p>

      </div>
      <div v-else>
          <p>
              <b>{{l.name}}  </b>
          </p>
          <p><i>{{l.description}}</i></p>
      </div>
      <div v-if="stats">
          <p><u>Card details</u>&ensp;
                        <button v-on:click="exportCards(getCardOrder(l.cards))">Export</button>
          </p>
          <p>Completed: {{stats.completed}} </p>
          <p>Passed Deadline: {{stats.passed_deadline}}</p>
          <p>Pending: {{stats.pending}}</p>
        <BarChart :data="bardata">
        </BarChart>
      </div>
      <div v-if="listsize=='small'">
          <p><router-link :to="{path: 'list/' + l.id }"  >View</router-link></p>
      </div>
      <div v-if="!edit">
          <button v-on:click="deleteOp=!deleteOp">Delete Options</button>
          <button v-on:click="edit=!edit;name=l.name;description=l.description">
              Edit List
          </button>
      </div>
      <div v-else>
          <p>
          <button v-on:click="edit=!edit;">Cancel</button>    
          <button v-on:click="UpdateAll(UpdateList(l.id, name, description, kanban['updated']));edit=!edit;">
              Update
          </button>
          </p>
      </div>
      <div v-if="deleteOp">
          <p>move cards to another list (optional)
         
                <select v-model="new_list"  >
                <option v-for="l in kanban['lists']" v-bind:key="l.id" :value="l.id">
                    {{l.name}}
                </option>
            </select> #{{new_list}} </p>
            
            <button v-on:click="
                UpdateAll(deleteList(l.id, new_list, kanban['updated']))
            ">Delete</button>

      </div>
    </div>
</div>
</template>

<script>

import BarChart from './BarChart.vue'
import {store} from "../store/store.js"
import {UpdateData} from '../mixins/getData.js'

function SeparateDict (d) {
            let result = {
                "keys": Object.keys(d).sort(),
                "values": []
            }

            for (let i in result.keys) {
                result.values.push( d[result.keys[i] ] );
            }
            return result;
        }

export default {
    components: {
        BarChart
    },
    data () {
        return {
            edit: false,
            deleteOp: false,
            name: "",
            description: "",
            new_list: this.l.id,
            kanban: store.kanban
            };
    },
    mixins: [UpdateData],
    name: 'ListLayout',
    props: ['l', 'listsize',],
    computed: {
        stats: {
            get() {
                return this.getStats(this.kanban.lists[this.l.id]);
            }
        },
        bardata:
            {
            get() {
                return SeparateDict(this.stats.completed_freq);
                }
            }
    },
    methods: {
        SeparateDict,
    }
}
</script>

