<style>

.frame{
    display: inline-block;
    justify-content: center;

}


</style>

<template>
<div >
  <h1>Dashboard</h1>
  <div v-if="!kanban.auth_token">
      <input type="radio" id="login" value="login" v-model="LogReg">
      <label for="login">Login form</label>
      <input type="radio" id="register" value="register" v-model="LogReg">
      <label for="login">Registration form</label>
      
      <p>Email: <input type="text" v-model="email" placeholder="Email" /></p>
      <p>Password: <input type="password" v-model="password" placeholder="password" /></p>
      <div v-if="LogReg=='login'">
          <button v-on:click='UpdateUser(userLogin(email, password))'>Login</button>
      </div>
      <div v-else>
            <p>Confirm Password: <input type="password" v-model="cpassword" placeholder="confirm password" /></p>
            <div v-if="password==cpassword">
              <button v-on:click='UpdateUser(userRegister(email, password))'>Register</button>
            </div>
            <div v-else>
                <button disable=true>Register</button>
            </div>
      </div>
  </div>
  <div v-else>
      <p>
      <button v-on:click='UpdateAll(getUpdates(updated=kanban["updated"]))'>Update all</button>
      <button v-on:click='LogoutUser(); email="";password=""'>Logout</button>
      </p>

    <p><b>New Card</b></p>
    
    <p>
    Name: <input type="text" v-model="name" placeholder="Enter card name" />
    Description: <input type="text" v-model="description" placeholder="Enter card description" />
    List: <select v-model="list_id"  >
            <option v-for="l in kanban['lists']" v-bind:key="l.id" :value="l.id">
                {{l.name}}
            </option>
        </select> #{{list_id}}
    
    Completed: <input type="checkbox" v-model="completed">
    Deadline: <date-picker :date="startTime" ></date-picker>
    
    <button v-on:click='UpdateAll(
        createCard(
            name, description, list_id, (completed ? "1":"0"), startTime.time, kanban.updated
        )
    ); name="";description="";
    startTime.time=kanban.updated.slice(0,10);
    completed="";
    list_id="";
    ' >Create</button>
    
    </p>
    <h2>Pending cards:  <button v-on:click="exportCards(getPendingCardOrder(kanban.cards))">Export</button> </h2>

  <div class="frame" v-for="i in getPendingCardOrder(kanban.cards)" v-bind:key="i">
      <div :set="c=FindId(i)">
          <div v-if="kanban['cards'][c]">
              <CardLayout
                  :c="kanban['cards'][c]"
                  :l="kanban['lists'][kanban['cards'][c].list_id]"
              ></CardLayout>
          </div>
      </div>
  </div>




  </div>
</div>
</template>


<script>

import Vue from 'vue'
import JsonCSV from 'vue-json-csv'
import exportFromJSON from 'export-from-json';



const data = [{ foo: 'foo'}, { bar: 'bar' }]
const fileName = 'todownload'
const exportType =  exportFromJSON.types.csv


Vue.component('downloadCsv', JsonCSV)


import ListLayout from '../components/ListLayout.vue'
import CardLayout from '../components/CardLayout.vue'
import {UpdateData} from '../mixins/getData.js'

import {store} from "../store/store.js";

import myDatepicker from 'vue-datepicker';

//console.log(Vue.$cookies.get("session"))

export default {
    mixins: [UpdateData],
    components: {
        //ListLayout,
        CardLayout,
        //VueyeDatepicker,
        'date-picker': myDatepicker
        },
    methods: {
        exportFromJSON,
        exportData: function() {
            exportFromJSON({ data, fileName, exportType })
        },

    },
    data(){
        return {
            email: "",
            password: "",
            cpassword: "",
            LogReg: "login",
            calendarData: {},
            calendarConfigs: {
              // options
            },
            startTime: {
                time: store.kanban.updated.slice(0,10)
            },
            endtime: {
                time: ''
            },
            kanban: store.kanban,
            //data for creating card
            name: "",
            description: "",
            list_id: "",
            completed: "",
            //data for exporting
            exportType: this.exportType,
            data: this.data,
            fileName: this.fileName
        }
    },
}
    
</script>
