<style>

.frame{
    display: inline-block;
    justify-content: center;

}
</style>

<template>
<div >
  <h1>List wise Summary of cards
    <button v-on:click="exportLists(kanban.lists)">Export</button>

  </h1>
      <p></p>
      <p><button v-on:click='UpdateAll(getUpdates(updated=kanban["updated"]))'>Update all</button> last updated: {{kanban["updated"]}}</p>
    <p></p>
      <p><b>New List</b></p>
      <p>Name: <input type="text" v-model="name" placeholder="Enter list name" />
      Description: <input type="text" v-model="description" placeholder="Enter list description" />
      <button v-on:click='UpdateAll(createList(name, description, kanban["updated"] )); name="";description=""' >Create</button></p>

      <div class="frame" v-for="item in kanban['lists']" v-bind:key="item.id">
          <ListLayout :listsize="'small'" :l="item" ></ListLayout>
      </div>
  
</div>
</template>


<script>

//import Vue from 'vue'

import {UpdateData} from '../mixins/getData.js'
import {store} from "../store/store.js"
import ListLayout from '../components/ListLayout.vue'

export default {
    data () {
        return {
            name: "",
            description: "",
            list: store.list,
            kanban: store.kanban,
            };
    },
    mixins: [UpdateData],
    components: {
        ListLayout
    },
}

    

</script>
