<style>

.frame{
    display: inline-block;
    justify-content: center;

}
</style>

<template>
<div :set="l = kanban.lists[$route.params.id]">




  <p><button v-on:click='UpdateAll(getUpdates(updated=kanban["updated"]))'>Update all</button> last updated: {{kanban["updated"]}}</p>
  <router-link to="/list">Back</router-link>
  
<div v-if="l" >

  <ListLayout :l="kanban.lists[$route.params.id]" :listsize="'big'"></ListLayout>
  
    <p><b>New Card</b></p>
    <p>
    Name: <input type="text" v-model="name" placeholder="Enter card name" />
    Description: <input type="text" v-model="description" placeholder="Enter card description" />
    List: <select v-model="list_id"  >
            <option v-for="l in kanban['lists']" v-bind:key="l.id" :value="l.id">
                {{l.name}}
            </option>
        </select> #{{list_id}}
    
    Completed: <input type="checkbox" v-model="completed">
    Deadline: <date-picker :date="startTime" ></date-picker>
    
    <button v-on:click='UpdateAll(
        createCard(
            name, description, list_id, (completed ? "1":"0"), startTime.time, kanban.updated
        )
    ); name="";description="";
    startTime.time=kanban.updated.slice(0,10);
    completed="";
    list_id=l.id;
    ' >Create</button>
    
    </p>



  
  
  <div class="frame" v-for="i in getCardOrder(kanban.lists[$route.params.id].cards)" v-bind:key="i">

      <div :set="c=FindId(i)">
          <div v-if="kanban['cards'][c]">
              <CardLayout
                  :c="kanban['cards'][c]"
                  :l="kanban['lists'][kanban['cards'][c].list_id]"
              ></CardLayout>
          </div>
      </div>
  </div>

  
  
  
  </div>
</div>
</template>


<script>

import Vue from 'vue'
import JsonCSV from 'vue-json-csv'
import exportFromJSON from 'export-from-json';



const data = [{ foo: 'foo'}, { bar: 'bar' }]
const fileName = 'todownload'
const exportType =  exportFromJSON.types.csv


Vue.component('downloadCsv', JsonCSV)


import ListLayout from '../components/ListLayout.vue'
import CardLayout from '../components/CardLayout.vue'
import {UpdateData} from '../mixins/getData.js'

import {store} from "../store/store.js";

import myDatepicker from 'vue-datepicker';

//console.log(Vue.$cookies.get("session"))

export default {
    mixins: [UpdateData],
    components: {
        ListLayout,
        CardLayout,
        //VueyeDatepicker,
        'date-picker': myDatepicker
        },
    methods: {
        exportFromJSON,
        exportData: function() {
            exportFromJSON({ data, fileName, exportType })
        },

    },
    data(){
        return {
            calendarData: {},
            calendarConfigs: {
              // options
            },
            startTime: {
                time: store.kanban.updated.slice(0,10)
            },
            endtime: {
                time: ''
            },
            kanban: store.kanban,
            //data for creating card
            name: "",
            description: "",
            list_id: this.$route.params.id,
            completed: "",
            //data for exporting
            exportType: this.exportType,
            data: this.data,
            fileName: this.fileName
        }
    },
}
    
</script>
